---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_API_KEY&q=33.95,-81.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '5000000'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/14/2024 02:29:38
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3fc6b190742a48fe2823b487a8078044
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cayce","region":"South Carolina","country":"United
        States of America","lat":33.95,"lon":-81.12,"tz_id":"America/New_York","localtime_epoch":1705199354,"localtime":"2024-01-13
        21:29"},"current":{"last_updated_epoch":1705198500,"last_updated":"2024-01-13
        21:15","temp_c":5.0,"temp_f":41.0,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":220,"wind_dir":"SW","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"humidity":55,"cloud":0,"feelslike_c":2.0,"feelslike_f":35.5,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":14.4,"gust_kph":23.2},"forecast":{"forecastday":[{"date":"2024-01-13","date_epoch":1705104000,"day":{"maxtemp_c":10.2,"maxtemp_f":50.4,"mintemp_c":4.0,"mintemp_f":39.3,"avgtemp_c":8.6,"avgtemp_f":47.5,"maxwind_mph":19.0,"maxwind_kph":30.6,"totalprecip_mm":1.26,"totalprecip_in":0.05,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":59,"daily_will_it_rain":1,"daily_chance_of_rain":71,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:37 PM","moonrise":"09:29 AM","moonset":"08:17 PM","moon_phase":"Waxing
        Crescent","moon_illumination":3,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705122000,"time":"2024-01-13
        00:00","temp_c":16.1,"temp_f":60.9,"is_day":0,"condition":{"text":"Patchy
        light rain","icon":"//cdn.weatherapi.com/weather/64x64/night/293.png","code":1180},"wind_mph":17.0,"wind_kph":27.4,"wind_degree":267,"wind_dir":"W","pressure_mb":1000.0,"pressure_in":29.54,"precip_mm":1.25,"precip_in":0.05,"snow_cm":0.0,"humidity":89,"cloud":77,"feelslike_c":15.2,"feelslike_f":59.4,"windchill_c":15.2,"windchill_f":59.4,"heatindex_c":16.1,"heatindex_f":60.9,"dewpoint_c":15.4,"dewpoint_f":59.7,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":9.0,"vis_miles":5.0,"gust_mph":25.5,"gust_kph":41.0,"uv":1.0},{"time_epoch":1705125600,"time":"2024-01-13
        01:00","temp_c":14.9,"temp_f":58.9,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":14.3,"wind_kph":23.0,"wind_degree":266,"wind_dir":"W","pressure_mb":1001.0,"pressure_in":29.57,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":71,"cloud":36,"feelslike_c":13.7,"feelslike_f":56.7[...]
