---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_API_KEY&q=33.95,-81.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999995'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 00:30:57
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 01bb4427f9e17818572ce7a4511cd7f6
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cayce","region":"South Carolina","country":"United
        States of America","lat":33.95,"lon":-81.12,"tz_id":"America/New_York","localtime_epoch":1705278620,"localtime":"2024-01-14
        19:30"},"current":{"last_updated_epoch":1705278600,"last_updated":"2024-01-14
        19:30","temp_c":8.3,"temp_f":46.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":10,"wind_dir":"N","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"humidity":52,"cloud":0,"feelslike_c":6.9,"feelslike_f":44.4,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":11.3,"gust_kph":18.1},"forecast":{"forecastday":[{"date":"2024-01-14","date_epoch":1705190400,"day":{"maxtemp_c":13.4,"maxtemp_f":56.1,"mintemp_c":2.2,"mintemp_f":36.0,"avgtemp_c":7.0,"avgtemp_f":44.6,"maxwind_mph":12.8,"maxwind_kph":20.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":51,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":3.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:37 PM","moonrise":"10:04 AM","moonset":"09:29 PM","moon_phase":"Waxing
        Crescent","moon_illumination":9,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705208400,"time":"2024-01-14
        00:00","temp_c":4.2,"temp_f":39.5,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":7.6,"wind_kph":12.2,"wind_degree":255,"wind_dir":"WSW","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":61,"cloud":42,"feelslike_c":1.1,"feelslike_f":34.0,"windchill_c":1.1,"windchill_f":34.0,"heatindex_c":4.2,"heatindex_f":39.5,"dewpoint_c":-2.8,"dewpoint_f":26.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":13.8,"gust_kph":22.2,"uv":1.0},{"time_epoch":1705212000,"time":"2024-01-14
        01:00","temp_c":4.0,"temp_f":39.1,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":260,"wind_dir":"W","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":59,"cloud":85,"feelslike_c":0.7,"feelslike_f":33.3,"windchill_c":0.[...]
