---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=WEATHER_API_KEY&q=33.95,-81.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999996'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/14/2024 22:14:46
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - f0524d88d4b49361e92a49f0593e1495
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cayce","region":"South Carolina","country":"United
        States of America","lat":33.95,"lon":-81.12,"tz_id":"America/New_York","localtime_epoch":1705270448,"localtime":"2024-01-14
        17:14"},"current":{"last_updated_epoch":1705269600,"last_updated":"2024-01-14
        17:00","temp_c":15.0,"temp_f":59.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":13.6,"wind_kph":22.0,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.0,"precip_in":0.0,"humidity":27,"cloud":50,"feelslike_c":13.9,"feelslike_f":56.9,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":14.4,"gust_kph":23.2},"forecast":{"forecastday":[{"date":"2024-01-14","date_epoch":1705190400,"day":{"maxtemp_c":12.9,"maxtemp_f":55.3,"mintemp_c":2.2,"mintemp_f":36.0,"avgtemp_c":6.9,"avgtemp_f":44.4,"maxwind_mph":13.2,"maxwind_kph":21.2,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":53,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":3.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:37 PM","moonrise":"10:04 AM","moonset":"09:29 PM","moon_phase":"Waxing
        Crescent","moon_illumination":9,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705208400,"time":"2024-01-14
        00:00","temp_c":4.2,"temp_f":39.5,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":7.6,"wind_kph":12.2,"wind_degree":255,"wind_dir":"WSW","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":61,"cloud":42,"feelslike_c":1.1,"feelslike_f":34.0,"windchill_c":1.1,"windchill_f":34.0,"heatindex_c":4.2,"heatindex_f":39.5,"dewpoint_c":-2.8,"dewpoint_f":26.9,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":13.8,"gust_kph":22.2,"uv":1.0},{"time_epoch":1705212000,"time":"2024-01-14
        01:00","temp_c":4.0,"temp_f":39.1,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":260,"wind_dir":"W","pressure_mb":1019.0,"pressure_in":30.09,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":59,"cloud":85,"feelslike_c":0.7,"feelslike_f":33.3,"windchill_c":0.[...]
