---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=WEATHER_API_KEY&q=33.95,-81.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999993'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 17:37:14
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 6c24cff3182aaf9d03182572fc374b48
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cayce","region":"South Carolina","country":"United
        States of America","lat":33.95,"lon":-81.12,"tz_id":"America/New_York","localtime_epoch":1705340195,"localtime":"2024-01-15
        12:36"},"current":{"last_updated_epoch":1705339800,"last_updated":"2024-01-15
        12:30","temp_c":15.0,"temp_f":59.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":180,"wind_dir":"S","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"humidity":37,"cloud":0,"feelslike_c":14.3,"feelslike_f":57.7,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":9.4,"gust_kph":15.0},"forecast":{"forecastday":[{"date":"2024-01-15","date_epoch":1705276800,"day":{"maxtemp_c":15.1,"maxtemp_f":59.1,"mintemp_c":5.7,"mintemp_f":42.2,"avgtemp_c":9.9,"avgtemp_f":49.8,"maxwind_mph":9.8,"maxwind_kph":15.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":52,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:38 PM","moonrise":"10:35 AM","moonset":"10:38 PM","moon_phase":"Waxing
        Crescent","moon_illumination":17,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705294800,"time":"2024-01-15
        00:00","temp_c":7.9,"temp_f":46.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":203,"wind_dir":"SSW","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":55,"cloud":6,"feelslike_c":5.6,"feelslike_f":42.1,"windchill_c":5.6,"windchill_f":42.1,"heatindex_c":7.9,"heatindex_f":46.2,"dewpoint_c":-0.6,"dewpoint_f":31.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":17.9,"gust_kph":28.7,"uv":1.0},{"time_epoch":1705298400,"time":"2024-01-15
        01:00","temp_c":7.8,"temp_f":46.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":207,"wind_dir":"SSW","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":55,"cloud":24,"feelslike_c":5.5,"feelslike_f":41.9,"windchill_c":5[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=1&location=Columbia,%20SC&sort_by=best_match&term=Pizza
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6HGslDRM_fxSwKsjlpB9c6gHkAISDxoZJnCr3Ey7EFCqSAZY9azTykynAkvJBGRGDQ8HDDVhgpSiPMpJ165bY7a3UVey9voUjtTVwwdng9bhIFhnSVU65O5I51mlZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '489.0'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-l6jpl; site=public_api_v3
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Zipkin-Id:
      - 8d4a5b5383cff39f
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-172-176-useast1bprod
      X-Extlb:
      - 10-65-172-176-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "VgFbSQGQ-p6Lfk9iKqAVqg", "alias": "cucinellas-west-columbia",
        "name": "Cucinella''s", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/BmvQM_7q0vcZXE9xtFEzag/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/cucinellas-west-columbia?adjust_creative=x1BJA_sLJUWl4R75aPkiEw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=x1BJA_sLJUWl4R75aPkiEw",
        "review_count": 27, "categories": [{"alias": "pizza", "title": "Pizza"}, {"alias":
        "gelato", "title": "Gelato"}, {"alias": "salad", "title": "Salad"}], "rating":
        4.5, "coordinates": {"latitude": 34.001558736521226, "longitude": -81.10132129058617},
        "transactions": ["delivery", "pickup"], "location": {"address1": "2250 Sunset
        Blvd", "address2": "Ste M", "address3": null, "city": "West Columbia", "zip_code":
        "29169", "country": "US", "state": "SC", "display_address": ["2250 Sunset
        Blvd", "Ste M", "West Columbia, SC 29169"]}, "phone": "+18038886465", "display_phone":
        "(803) 888-6465", "distance": 8838.636333410579}], "total": 346, "region":
        {"center": {"longitude": -81.01455688476562, "latitude": 34.03541889584294}}}'
  recorded_at: Mon, 15 Jan 2024 17:37:15 GMT
recorded_with: VCR 6.2.0
