---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=WEATHER_API_KEY&q=33.95,-81.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999993'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 17:19:41
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 9c53f4a258668dead361953de2f85330
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cayce","region":"South Carolina","country":"United
        States of America","lat":33.95,"lon":-81.12,"tz_id":"America/New_York","localtime_epoch":1705339141,"localtime":"2024-01-15
        12:19"},"current":{"last_updated_epoch":1705338900,"last_updated":"2024-01-15
        12:15","temp_c":15.0,"temp_f":59.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":180,"wind_dir":"S","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"humidity":37,"cloud":0,"feelslike_c":14.3,"feelslike_f":57.7,"vis_km":16.0,"vis_miles":9.0,"uv":4.0,"gust_mph":9.4,"gust_kph":15.0},"forecast":{"forecastday":[{"date":"2024-01-15","date_epoch":1705276800,"day":{"maxtemp_c":15.1,"maxtemp_f":59.1,"mintemp_c":5.7,"mintemp_f":42.2,"avgtemp_c":9.9,"avgtemp_f":49.8,"maxwind_mph":9.8,"maxwind_kph":15.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":52,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":3.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:38 PM","moonrise":"10:35 AM","moonset":"10:38 PM","moon_phase":"Waxing
        Crescent","moon_illumination":17,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705294800,"time":"2024-01-15
        00:00","temp_c":7.9,"temp_f":46.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":203,"wind_dir":"SSW","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":55,"cloud":6,"feelslike_c":5.6,"feelslike_f":42.1,"windchill_c":5.6,"windchill_f":42.1,"heatindex_c":7.9,"heatindex_f":46.2,"dewpoint_c":-0.6,"dewpoint_f":31.0,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":17.9,"gust_kph":28.7,"uv":1.0},{"time_epoch":1705298400,"time":"2024-01-15
        01:00","temp_c":7.8,"temp_f":46.1,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":207,"wind_dir":"SSW","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":55,"cloud":24,"feelslike_c":5.5,"feelslike_f":41.9,"windchill_c":5[...]
