---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?limit=20&location=denver,co&sort_by=best_match&term=italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6HGslDRM_fxSwKsjlpB9c6gHkAISDxoZJnCr3Ey7EFCqSAZY9azTykynAkvJBGRGDQ8HDDVhgpSiPMpJ165bY7a3UVey9voUjtTVwwdng9bhIFhnSVU65O5I51mlZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      Ratelimit-Remaining:
      - '490.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Zipkin-Id:
      - aeb20d8f92b1f803
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-ckc8k; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-113-124-useast1aprod
      X-Extlb:
      - 10-65-113-124-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "i8VF3q7dTszCcigJSMcJzQ", "alias": "angelo-s-taverna-denver",
        "name": "Angelo\u2019s Taverna", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/xsp2nVkNCx7ZfvSZ4MDgXg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/angelo-s-taverna-denver?adjust_creative=x1BJA_sLJUWl4R75aPkiEw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=x1BJA_sLJUWl4R75aPkiEw",
        "review_count": 1676, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "seafood", "title": "Seafood"}, {"alias": "bars", "title": "Bars"}],
        "rating": 4.5, "coordinates": {"latitude": 39.725523, "longitude": -104.979224},
        "transactions": ["pickup", "restaurant_reservation", "delivery"], "price":
        "$$", "location": {"address1": "620 E 6th Ave", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80203", "country": "US", "state": "CO",
        "display_address": ["620 E 6th Ave", "Denver, CO 80203"]}, "phone": "+13037443366",
        "display_phone": "(303) 744-3366", "distance": 1351.3929919123793}, {"id":
        "jVOAZe9L3Kwx9Ze-UhT3_w", "alias": "odyssey-italian-restaurant-denver", "name":
        "Odyssey Italian Restaurant", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/X5Mh_wJK5CVcEvLeF8UsRQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/odyssey-italian-restaurant-denver?adjust_creative=x1BJA_sLJUWl4R75aPkiEw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=x1BJA_sLJUWl4R75aPkiEw",
        "review_count": 1313, "[...]
