---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=2024-01-18&key=WEATHER_API_KEY&q=33.95,-81.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999975'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/17/2024 03:04:42
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d1ecba59466aca1d317f00c24a7be6d5
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Cayce","region":"South Carolina","country":"United
        States of America","lat":33.95,"lon":-81.12,"tz_id":"America/New_York","localtime_epoch":1705460682,"localtime":"2024-01-16
        22:04"},"current":{"last_updated_epoch":1705460400,"last_updated":"2024-01-16
        22:00","temp_c":6.1,"temp_f":43.0,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":9.4,"wind_kph":15.1,"wind_degree":320,"wind_dir":"NW","pressure_mb":1015.0,"pressure_in":29.98,"precip_mm":0.0,"precip_in":0.0,"humidity":53,"cloud":100,"feelslike_c":3.6,"feelslike_f":38.5,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":9.8,"gust_kph":15.8},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":10.0,"maxtemp_f":50.1,"mintemp_c":3.1,"mintemp_f":37.6,"avgtemp_c":8.1,"avgtemp_f":46.5,"maxwind_mph":13.4,"maxwind_kph":21.6,"totalprecip_mm":1.8,"totalprecip_in":0.07,"totalsnow_cm":0.0,"avgvis_km":8.9,"avgvis_miles":5.0,"avghumidity":83,"daily_will_it_rain":1,"daily_chance_of_rain":96,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":1.0},"astro":{"sunrise":"07:30
        AM","sunset":"05:39 PM","moonrise":"11:05 AM","moonset":"11:46 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705381200,"time":"2024-01-16
        00:00","temp_c":10.8,"temp_f":51.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.8,"wind_kph":6.1,"wind_degree":157,"wind_dir":"SSE","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":79,"cloud":13,"feelslike_c":10.4,"feelslike_f":50.7,"windchill_c":10.4,"windchill_f":50.7,"heatindex_c":10.8,"heatindex_f":51.4,"dewpoint_c":7.3,"dewpoint_f":45.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.0,"gust_kph":12.9,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705384800,"time":"2024-01-16
        01:00","temp_c":10.4,"temp_f":50.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.6,"wind_kph":5.8,"wind_degree":193,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":83,"cloud":17,"feelslike_c":10.1,"feelslike_f":50.1,"windchill_c":10.1,"windchill_f":50.1,"heatindex_c":10.4,"heatindex_f":50.7,"dewpoi[...]
